body{
    margin: 0;
}
.panda-bg-info{
    background-color:#fceae8;
}
.categories img{
    width:100px;
}
.panda-button-buy-now{
    /* background-color: #ff2178; */
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff4b92 100%);
    color:white;
    border-radius: 8px;
    padding:7px 25px;
    border: none;
    /* font-size: 15px; */
}